<template>
    <div id="transactions-list-view">
        I'm a list of transactions!
    </div>
</template>

<script>
export default {
  name: 'transactions-list-view'
};
</script>

<style lang="scss">
    #transactions-list-view {
        background-color: #000000;
        color: #ffffff;
    }
</style>
