<template>
    <div id="accounts-list-view">
        I'm a list of accounts!
    </div>
</template>

<script>
export default {
  name: 'accounts-list-view'
};
</script>

<style lang="scss">
    #accounts-list-view {
    }
</style>
