<template>
    <div id="budgets-list-view">
        I'm a list of budgets!
    </div>
</template>

<script>
export default {
  name: 'budgets-list-view'
};
</script>

<style lang="scss">
    #budgets-list-view {
        background-color: #0000ff;
        color: #ffffff;
    }
</style>
